
<h1>Comments</h1>

<%= render 'form', comment: Comment.new %>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= comment.body %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_comment_path %>
